*{
    padding: 0;
    margin: 0;
}
/*Footer Paginas*/
.footer {
    align-items: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(0,212,255,1) 35%, rgba(9,17,121,1) 100%);
    font-size: larger;
    font-style: normal;
    height: 100px;
    width: 100%;
    padding-bottom: 13px;
}
/**/
.colornav{
    background: linear-gradient(180deg, rgba(9,17,121,1) 35%, rgba(0,212,255,1) 100%) !important;
}
.nav-item{
    border: 2px solid;
    border-radius: 5px;
    margin: 3px;

}
.nav-item:hover{
        transform: translateY(2px);
        box-shadow: 2px 0;
        transform: scale(1.2);
        transition: all;
        transition-duration: 2s;
}
/*Index*/
.mainIndex {
    background-image: url(../imagenes/fondoindex.png);
    height: 75vh;
    width: 100%;
}
.parrafoIndex{
    display: flex;
    align-items: center;
    padding: 5px;
    padding-right: 600px;
    padding-bottom: 150px;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
}
@media(max-width: 576px){
    .parrafoIndex{
        display: flex;
       padding-right: 0px;
       padding-bottom: 2px;
}
    .br{
        display: none;
    }
}
/*Servicios Pagina*/
.fondoMain{
    background-image: url(../imagenes/fondoindex.png);
}
.serviciosMain{
    display: flex;
    width: 100%;
}
.card{
    margin: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    display: flex;
}
@media(max-width: 576px){
    .serviciosMain{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}
/*Contactanos*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
    background-image: url(../imagenes/fondoindex.png);
    background-repeat: no-repeat;
}
.contact_form {
    width: 460px;
    height: auto;
    margin: 5px auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: gray;
    padding-left: 20px;
}
input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
}
label {
    display: block;
    float: center;
}
button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    text-transform: uppercase;
    background-color: dodgerblue;
    border-color: dodgerblue;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}
button p {
    color: #fff;
    font-weight: bold;
}
span {
    color: grey;
}
.aviso {
    font-size: 13px;
    color: #0e0e0e;
}
h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: black;
}
h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}
p {
    font-size: 14px;
    color: #0e0e0e;
}
.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}
.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}


/*Sistemas Pagina*/
